#chatbox {
    width: 90%;
    height: 60vh;
    background-color: #f7f6f1;
    overflow: scroll;
    padding: 20px;
    border-radius: 25px;
    margin-bottom: 15px;
}

.chat-bubble {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #000;
    margin-bottom: 5px;
    width: 100%;
}

.person {
    width: 100px;
    float: left;
}

.person img {
    display:block;
    margin:auto;
}

.person p {
    font-size: 80%;
    display: block;
    margin-bottom: 2px; 
    letter-spacing: 1px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
    text-align: center;
}

.my-avatar {
    width: 100px;
    float: right;
}

.my-avatar img {
    display:block;
    margin:auto;
}

.my-avatar p {
    font-size: 80%;
    display: block;
    margin-bottom: 2px; 
    letter-spacing: 1px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
    text-align: center;
}

.avatar {
    width: 40px;
    height: 40px;
}

#chatbox p {
    color:black;
}

.not-me {
    float:left;
    clear:left;
    text-align:left;
    background-position:left;
}

.me {
    float:right;
    clear:right;
    text-align:right;
    background-position:right;
}


#chat-input {
    display: inline-block;
    float: left;
    width: 80%;
    border-color: rgb(200, 200, 200);
    border-radius: 10px;
    resize: none;
}

.send {
    margin-left: 20px;
}

.no-wrap {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 90%;
    overflow: hidden;
}

.chat-text {
    white-space: pre-wrap;
}