#chatbox {
    width: 90%;
    height: 60vh;
    background-color: #f7f6f1;
    overflow: scroll;
    padding: 20px;
    border-radius: 25px;
    margin-bottom: 15px;
}

.chat-bubble {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #000;
    margin-bottom: 5px;
    width: 100%;
}

.person {
    width: 100px;
    float: left;
}

.person img {
    display:block;
    margin:auto;
}

.person p {
    display: block;
    margin-bottom: 2px;
    text-align: center;
}

.my-avatar {
    width: 100px;
    float: right;
}

.my-avatar img {
    display:block;
    margin:auto;
}


.my-avatar p {
    display: block;
    margin-bottom: 2px;
    text-align: center;
}

.avatar {
    width: 40px;
    height: 40px;
}

#chatbox p {
    color:black;
}

.not-me {
    float:left;
    clear:left;
    text-align:left;
    background-position:left;
}

.me {
    float:right;
    clear:right;
    text-align:right;
    background-position:right;
}


#chat-input {
    display: inline-block;
    float: left;
    width: 80%;
    border-color: rgb(200, 200, 200);
    border-radius: 10px;
    resize: none;
}

.send {
    margin-left: 20px;
}

.no-wrap {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 90%;
    overflow: hidden;
}

.chat-text {
    white-space: pre-wrap;
}

.user-attachment {
    
}

.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgb(87, 0, 143);
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: bounce 1.0s infinite ease-in-out;
  animation: bounce 1.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -.5s;
  animation-delay: -0.5s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}