<section class="beige full-height top-section">
  <div class="container full-height">
    <div class="jumbotron no-background full-height">
      <img id="top-image" class="visible-md visible-lg" src="img/iphone5screen2.png" />
      <div class="col-md-5"></div>
      <div class="col-md-7">
	<h2>Introducing FastChat</h2>
	<p>FastChat is a multiplatform chat client that focuses on group communication. We were frusterated at the other cross platform solutions for our simple needs, so we made a better one.</p>
	<p>We focused on <em>speed</em> and <strong>simplicity</strong>, working hard to make a cross platform solution that would beat texting.</p>
	<div class="col-md-4">
	  <a href="#">
	    <img alt="Download on the App Store"
		 src="img/app_store.svg" />
	</div>
	<div class="col-md-4">
	  <a href="#">
	    <img alt="Get it on Google Play"
		 src="img/en_generic_rgb_wo_45.png" />
	  </a>
	</div>
	<div class="col-md-4">
	  <a class="btn btn-info" href="#/register">Register Now</a>
	</div>
      </div>
    </div>
  </div>
</section>
<section class="grey-purple" style="color:black">
  <div class="container">
    <div class="jumbotron no-background">
      <div class="col-md-4">
	<h2 class="black-color text-center">Speed</h2>
	<img class="img-responsive center-block image-padding" src="img/fast.png" />
	<p class="text-center">From the very beginning, FastChat had to have instant communication, no matter where we were. From the ground up we've built this in.</p>
      </div>
      <div class="col-md-4">
	<h2 class="black-color text-center">Simplicity</h2>
	<img class="img-responsive center-block image-padding" src="img/simple.png" />
	<p class="text-center">We're starting with getting the building blocks right. Everything is right where you think it is, with a silky smooth interface.</p>
      </div>
      <div class="col-md-4">
	<h2 class="black-color text-center">Feedback</h2>
	<img class="img-responsive center-block image-padding" src="img/feedback.png" />
	<p class="text-center">We value your feedback. We want you to let us know what you love, and what you want to see more of. In fact, we're so serious about getting great feedback, you'll have a group with the developers right from the start.</p>
      </div>
    </div>
  </div>
</section>
<!-- Coming soon...
<section class="bg-white">
  <div class="container">
    <div class="col-md-4">
      <h1>The Server</h1>
      <p>Socket.io has been used along with Express to make a super simple API to work with. This could allow for many more clients in the future. Interested? Contact us.</p>
    </div>
    <div class="col-md-4">
      <h1>The Clients</h1>
      <p>Each client is built in their native language, focusing on design and speed, making the experience as great as possible for you.</p>
    </div>
    <div class="col-md-4">
      <h1>The Team</h1>
      <p>We have an incredible team behind FastChat. And best yet, we've taken on no venture capital, which allows us to focus purely on the users, and not our valuation.</p>
    </div>
  </div>
</section>
-->
<footer class="footer-3">
  <div class="container">
    <div class="row v-center">
      <div class="col-sm-2">
        <a class="brand" href="/index.html">FastChat</a>
      </div>
      <div class="col-sm-7">
        <div class="additional-links">
          Be sure to take a look to our <a href="#">Terms of Use</a> and <a href="#/privacy">Privacy Policy</a>
        </div>
      </div>
      <div class="col-sm-3">
        <h6>Boston, MA</h6>
        <div class="address">
<!-- Soon...
          Address Here st number<br>Boston, MA, 11111
-->
        </div>
      </div>
    </div>
  </div>
</footer>
