<section class="beige full-height top-section" style="max-height:300px" ng-controller="LoginController">
  <div class="container">
    <div class="jumbotron no-background full-height">
      <div class="row">
	<div class="col-md-5">
          <h3>Login to Fast Chat</h3>
          <p>
	    Login to experience Fast Chat. If you don't have an account, you can register.
          </p>
          <div class="signup-form">
	    <div id="login_errors" class="alert alert-danger" style="display:none;white-space:pre-wrap;"></div>
            <form method="post" ng-submit="login()">
              <div class="form-group">
		<input id="username" class="form-control" type="text" placeholder="Username" ng-model="username">
              </div>
              <div class="form-group">
		<div>
                  <input id="password" type="password" class="form-control" placeholder="Password" ng-model="password">
		</div>
              </div>
              <div class="form-group">
		<button type="submit" class="btn btn-block btn-info">Login</button>
              </div>
            </form>
          </div>
          <div class="additional-links">
            By signing up you agree to <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>
          </div>
	</div>
	<div class="col-md-6">
	  <h3>I forgot my password.</h3>
	  <p>Click here!</p>
	  <h3>Why do I have to login?</h3>
	  <p>We allow you to login to any device.</p>
	</div>
      </div>
    </div>
  </div>
</section>
<footer class="footer-3">
  <div class="container">
    <div class="row v-center">
      <div class="col-sm-2">
        <a class="brand" href="/index.html">FastChat</a>
      </div>
      <div class="col-sm-7">
        <div class="additional-links">
          Be sure to take a look to our <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>
        </div>
      </div>
      <div class="col-sm-3">
        <h6>Boston, MA</h6>
        <div class="address">
          Address Here st number<br>Boston, MA, 11111
        </div>
      </div>
    </div>
  </div>
</footer>
