<section class="beige full-height top-section" style="max-height:300px" ng-controller="LoginController">
  <div class="container">
    <div class="jumbotron no-background full-height">
      <div class="row">
	<h1>Privacy Policy</h1>
      </div>
    </div>
  </div>
</section>
<footer class="footer-3">
  <div class="container">
    <div class="row v-center">
      <div class="col-sm-2">
        <a class="brand" href="/index.html">FastChat</a>
      </div>
      <div class="col-sm-7">
        <div class="additional-links">
          Be sure to take a look to our <a href="#">Terms of Use</a> and <a href="#/privacy">Privacy Policy</a>
        </div>
      </div>
      <div class="col-sm-3">
        <h6>Boston, MA</h6>
        <div class="address">
          Address Here st number<br>Boston, MA, 11111
        </div>
      </div>
    </div>
  </div>
</footer>
