<section class="beige" ng-controller="ProfileController">
  <div class="container">
    <div class="jumbotron no-background">
      <div class="row">
	<h2>{{profile.username}}</h2>

	<div>
	  <img id="profileImage" />
	</div>

	<div id="upload_errors" class="alert alert-danger" style="display:none;white-space:pre-wrap;"></div>
	<form id="avatarForm" ng-submit="uploadAvatar();" method="post" >
	  <label for="avatarField">Upload Avatar</label>
	  <input fileread="avatar" type="file" id="avatarField" /> <br />
	  <button type="submit" class="btn btn-block btn-info">Upload</button>
	</form>
	<img id="profileImage"/>
      </div>
    </div>
  </div>
</section>
