<section class="beige full-height top-section" style="max-height:300px" ng-controller="RegisterController">
  <div class="container">
    <div class="jumbotron no-background full-height">
      <div class="row">
	<div class="col-md-5">
          <h3>Register for Fast Chat</h3>
          <p>
	    Registering is fast, easy, and free.
          </p>
          <div class="signup-form">
	    <div id="register_errors" class="alert alert-danger" style="display:none;white-space:pre-wrap;"></div>
            <form method="post" ng-submit="register()">
              <div class="form-group">
		<input id="input_username" ng-model="username" class="form-control" type="text" placeholder="A Username">
              </div>
              <div class="form-group">
		<div>
                  <input id="input_password" ng-model="password" type="password" class="form-control" placeholder="Password">
		</div>
	      </div>
              <div class="form-group">
		<div>
                  <input id="input_confirmation" ng-model="passwordConfirm" type="password" class="form-control" placeholder="Confirmation">
		</div>
              </div>
              <div class="form-group">
		<button type="submit" class="btn btn-block btn-info">Sign Up</button>
              </div>
            </form>
          </div>
          <div class="additional-links">
            By signing up you agree to <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>
          </div>
	</div>
	<div class="col-md-6">
	  <h3>Why do I need an account?</h3>
	  <p>To send messages!</p>
	</div>
      </div>
    </div>
  </div>
</section>
<footer class="footer-3">
  <div class="container">
    <div class="row v-center">
      <div class="col-sm-2">
        <a class="brand" href="/index.html">FastChat</a>
      </div>
      <div class="col-sm-7">
        <div class="additional-links">
          Be sure to take a look to our <a href="#">Terms of Use</a> and <a href="#/privacy">Privacy Policy</a>
        </div>
      </div>
      <div class="col-sm-3">
        <h6>Boston, MA</h6>
        <div class="address">
          Address Here st number<br>Boston, MA, 11111
        </div>
      </div>
    </div>
  </div>
</footer>
